@model NoiThat.Models.Supplier

@{
    ViewBag.Title = "Xóa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <strong>XÁC NHẬN XÓA DANH MỤC</strong>
                        </div>
                        <div class="col-6 text-right">
                            <a href="@Url.Action("Index","Supplier")" class="btn btn-sm btn-info"><i class="fa fa-backward"></i> Về danh sách</a>

                            <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-trash"></i> Xóa</button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Slug)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Link hình ảnh
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Img)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Orders)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Orders)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Phone)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CreatedAt)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
